@page
@model KTLT.Pages.TKHetHanSDModel
@{
    ViewData["Title"] = "Thống kê sản phẩm hết HSD";
}

<h5 class="mt-5 text-danger">THỐNG KÊ SẢN PHẨM HẾT HẠN SỬ DỤNG</h5>


<div class="mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Loại sản phẩm</th>
                <th>Hạn sử dụng</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.dsSanpham.DsSp != null)
            {
                @for (int i = 0; i < Model.dsSanpham.DsSp.Length; i++)
                {
                    @if (Model.dsSanpham.DsSp[i] != null)
                    {
                        <tr>
                            <td>@Model.dsSanpham.DsSp[i].Masp</td>
                            <td>@Model.dsSanpham.DsSp[i].Tensp</td>
                            <td>@Model.dsSanpham.DsSp[i].LoaiSp.TenChungLoai</td>
                            <td>@Model.dsSanpham.DsSp[i].HSD.ToString("dd/MM/yyyy")</td>

                        </tr>

                    }

                }
            }
</table>

